/* body {
    margin: 0;
    padding: 0 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
}

div {
    padding: 10px;
    background-color: rgb(164, 206, 147);
    color: white;
    line-height: 1.5; 
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
}

form {
    background-color: rgb(238, 239, 235);
    border-radius: 5px;
    border: 1px solid black;
    padding: 20px;
    font-size: large;
    max-width: 600px; 
    margin: 20px auto; 
}

input[type="text"],
input[type="email"],
textarea {
    width: calc(100% - 20px); 
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 10px; 
    margin-bottom: 10px; 
    box-sizing: border-box; 
}

input[type="submit"],
input[type="reset"] {
    background-color: rgb(164, 206, 147);
    font-size: larger;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: calc(100% - 20px); 
    padding: 10px; 
    box-sizing: border-box; 
    margin-bottom: 10px; 
}

input[type="reset"] {
    background-color: red;
}

input[type="submit"]:hover {
    background-color: rgb(0, 176, 76);
}

input[type="reset"]:hover {
    background-color: rgb(191, 0, 0);
} */
